# Настройки базы данных
POSTGRES_USER=technoservice
POSTGRES_PASSWORD=changeme
POSTGRES_DB=technoservice

# Настройки Directus
DIRECTUS_SECRET=8HBy8Ox5rLhluN7hEYwYVOxapPp6ZFpvX
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=admin123

# Адрес и токен для подключения из FastAPI
DIRECTUS_URL=http://localhost:8055
DIRECTUS_TOKEN=aLXl5YI9lWTspVhNCrDT9Wm5YCerOcmA