<footer>
    <div class="footer-top container">
        <div class="fotter-top__item fotter-top__item-logo">
            <div class="logobox">
                <img src="/static/img/footer-logo.png" alt="">
                <div class="logobox__text">
                    <h4>ТехноСервис</h4>
                    <p>IT Аутсорсинг</p>
                </div>
            </div>
            <p>Профессиональный IT и печатный аутсорсинг для вашего бизнеса.</p>
        </div>
        <div class="fotter-top__item">
            <h3>Услуги</h3>
            <a href="/services.html">IT Аутсорсинг</a>
            <a href="/services.html">Печатный Аутсорсинг</a>
            <a href="/services.html">Программное обеспечение</a>
            <a href="/services.html">Оборудование</a>
        </div>
        <div class="fotter-top__item">
            <h3>Компания</h3>
            <a href="/about.html">О нас</a>
            <a href="/cases.html">Кейсы</a>
            <a href="/catalog.html">Каталог</a>
            <a href="/contacts.html">Контакты</a>
        </div>
        <div class="fotter-top__item">
            <h3>Контакты</h3>
            <div class="contact-box">
                <img src="/static/img/svg/phone-icon.svg" alt="">
                <p>+7 (495) 123-45-67</p>
            </div>
            <div class="contact-box">
                <img src="/static/img/svg/email-icon.svg" alt="">
                <p>info@tehnoservice.ru</p>
            </div>
            <div class="contact-box">
                <img src="/static/img/svg/place-icon.svg" alt="">
                <p>Москва, ул. Примерная, д. 1</p>
            </div>
        </div>
    </div>
    <div class="div-decore container"></div>
    <div class="footer-bottom container">
        <h2>Наши партнеры</h2>
        <div class="partners-box">
            <a href="#"><img src="/static/img/svg/partner1.svg" alt=""></a>
            <a href="#"><img src="/static/img/svg/partner2.svg" alt=""></a>
            <a href="#"><img src="/static/img/svg/partner3.svg" alt=""></a>
            <a href="#"><img src="/static/img/svg/partner4.svg" alt=""></a>
            <a href="#"><img src="/static/img/svg/partner5.svg" alt=""></a>
            <a href="#"><img src="/static/img/svg/partner6.svg" alt=""></a>
            <a href="#"><img src="/static/img/svg/partner7.svg" alt=""></a>
        </div>
        <p>© 2025 ТехноСервис. Все права защищены.</p>
    </div>
</footer>